.wrapper-menu{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
    .nav-box{
        width: 30%;
    }
        .search-bar {
            display: flex;
            align-items: center;
    
            padding: 13px 10px;
            width: 220px;
            background-color: #f5f5f5;
            height: 35px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    
        label {
            margin-right: 5px;
    
        }
    
        img {
            width: 20px;
    
        }
    
        input {
    
            &::placeholder {
                color: #989898;
            }
        }
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;

        .post-btn{
            background-color: #4BC1CF;
            padding: 10px 80px;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 900;
            color: white;
            
            &:hover{
                background-color: #41A8B5;
                transition: 1s ease;
            }
        }
        hr{
            border: #d9d9d9 0.6px solid;
            width: 200px;
            margin-bottom: 10px;

        }
        h1{
            font-size: 24px;
            color: #41A8B5;
            font-weight: 900;
            margin-bottom: 60px;
        }
        .nav__menu-item{
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 5px 10px;
            margin-bottom: 22px;
            &:hover{
                cursor: pointer;
                
                width: 200px;
                
                border-radius: 10px;
                scale: 1.1;
                transition: scale 1s ease;
            }
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
            span{
                font-weight: 700;
                font-size: 20px;

            }
            a{
                display: flex;
                align-items: center;
            }
        }
    }
}
.search-box{
    width: 30%;
}
.search{
    margin: 22px 32px;
    position: fixed;
    top: 0;
    right: 7%;
        

    
}

.middle{
    
    width: 40%;
}