.wrapper-menu{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    padding: 50px 0px;
    width: 100%;
    max-width: 860px;
    
    .nav{
        .nav__menu-item{
            display: flex;
            align-items: center;
            justify-content: start;
            &:hover{
                cursor: pointer;
            }
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}