.tweet{
    margin-top: 5px;
    border: 1px solid #ECECEC;
    height: auto;
    padding: 14px;
    position: relative;
    border-radius: 10px;

    hr{
        border: 0.6px #f4f3f3 solid;
        margin:5px 0;
        width: 100%;
    }

    .tweet__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tweet__username{
            font-size: 14px;
            overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 40px;
        }
        .team-btn{
            background-color: #4BC1CF;
            color: white;
            font-weight: 700;
            padding: 5px 14px;
            border-radius: 5px;
            font-size: 14px;
            vertical-align: middle;
            font-family: 'Arial', sans-serif;
        }
        &-left{
            display: flex;
            align-items: center;
            width: auto;
            
            justify-content: space-between;
            .tweet__detail{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
            
            span{
                font-size: 13px;
                border: 1px solid #4BC1CF;
                padding: 3px 8px;
                margin-right: 10px;
                border-radius: 30px;
                font-weight: 900;
                display: flex;
                align-items: center;
                img{
                width: 16px;
                margin-right: 3px;
                }
            }
        }
        }
        .tweet__userModal{
            padding: 5px;
            background-color: white;
            width: 100px;
            height: 70px;
            box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            top: 5px;
            right: 10px;
            border-radius: 5px;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            font-size: 18px;
            transition: all 0.3s;
            
            button{
                display: flex;
                align-items: center;
                font-weight: 700;
                margin-bottom: 3px;
                img{
                    margin-right: 5px;
                }
            }

        }
    }
    .tweet__middle{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        .tweet__content{
            font-size: 14px;
            margin: 5px 0;
            font-weight: 700;
        }
        img{
            border-radius: 10px;
            width: 100%;
            height: auto;
            
        }
        
    }

    .tweet__bottom{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 20px;
        flex-direction: column;
        .tweet__user-type{
            display: flex;
            flex-wrap: wrap;
            li{

                background-color: #E6EFFF;
                color: #3C74E1;
                font-size: 12px;
                font-weight: 700;
                padding: 3px 14px;
                border-radius: 30px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
        &-left{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        .tweet__skill {
                
                display: flex;
                align-items: center;
                justify-content: center;
        
                &-list {
                    height: auto;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
        
                    li {
                        margin-right: 10px;
                        padding: 3px 14px;
                        border:1px solid #4BC1CF;
                        color: black;
                        font-weight: 700;
                        border-radius: 15px;
                        font-size: 12px;
                    }
                }
            }
        &-left{
            display: flex;
        }
        button{
            display: flex;
            align-items: center;
        }
        img{
            width: 20px;
            margin-right: 5px;
        }
    }
}